extends layout

block content
	h2 Drag&Drop

	section#dropbox
		canvas#canvas(width='800', height='200')
	section#picturebox
		img#image1(src="http://forumuploads.animutationportal.com/278_45ecd30c93494.gif")
		img#image2(src="http://forumuploads.animutationportal.com/278_45ecd2b484728.gif")